*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    /* font-family: 'sofia pro'; */
}
body{
    background: rgb(231, 231, 231);
background: linear-gradient(81deg, rgb(236, 236, 236) 0%, rgba(208,227,235,1) 0%);

}

.section-1{
    background-image: url('Assets/images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    /* border: 2px solid yellow; */
}

.overlay{
    /* border: 2px solid brown; */
    height: 100%;
    margin-right: -100px;
    padding: 40px;
    background: linear-gradient(90.29deg, rgba(0, 0, 0, 0.89) 11.31%, rgba(0, 0, 0, 0.7) 62.96%);

}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

li a:hover , #logo:hover{
    color: rgba(255, 215, 0, 1);
    text-decoration: underline;
}

#logo{
    width: 200px;
}

.header-content{
    margin-top: 100px;
}
.content-banners{
    margin-top: 10%;
}
.left-column{
    background-image: url('assets/images/header-img-left.png');
}
.right-column{
    background-image: url('assets/images/header-img-right.png');
}

.left-column,.right-column{
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
}

.number{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user-img{
    width: 70px;
}

.section-2{
    background-image: url('assets/images/Rectangle\ 4457.png');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.card-mark{
    width: 30px;
}

.section-2-winner-img{
    width: 110px;
    position: absolute;
    left: 200px;
    bottom:auto;
    top: 3350px;
}

.section-2-winner-img-2{
    width: 110px;
    position: absolute;
    right: 325px;
    top: 3350px;
}

.star-img{
    width: 15px;
}
footer{
    background-color: #0A0A1A;
    display: flex;
    
}

footer ul li a{
    font-size: 15px;
}