
body{
    background: var(--primary-background-color1);
}
/*########### navbar stylying started from here ###########*/

 /*######## navbar custom styling started here #########*/
.navbar-custom {
     background: var(--border-image-gradient-color);
  
}

 /*######## navbar custom styling ended here #########*/

 /*######## navbar brand logo styling started here #########*/
 .navbar-brand img {
    height: 50px; 
}

 /*######## navbar brand logo styling ended here #########*/

/*######## navbar menu and link styling started here #########*/

.navbar-nav .nav-link {
    color: var(--quartenary-color1); 
    padding: 5px 35px !important;

}
.navbar-nav .nav-link:hover {
    color: var(--primary-color1); 
}

.nav-link.active {
    color: var(--primary-color1) !important;
}

/*######## navbar menu and link styling started here #########*/

/*######## Dropdown styling started here #########*/
.dropdown-menu{
    background: var(--primary-background-color1);
    border-radius: 10px; 
    padding: 10px;     
  }

  /* ############# Dropdown menu links styling started here ############## */
.dropdown-item {
    color: var(--quartenary-color1); 
    padding: 10px; 
}
.dropdown-item:hover {
   background: transparent;
   color: var(--primary-color1);

}
.dropdown-link {
    text-decoration: none;
    color: var(--quartenary-color1); 
    
}
.dropdown-link:hover {
   background: transparent;
   color: var(--primary-color1);

}



/* ##########dropdown item input styling started here  ######### */
.dropdown-item input[type="checkbox"] {
    appearance: none; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background: var(--quartenary-color1);
    cursor: pointer; 
    outline: none; 
    margin-right: 8px; 
    
}

.dropdown-item:hover input[type="checkbox"] {
    background-color: var(--quartenary-color1); 
    border: 6px solid var(--primary-color1); 

}

.dropdown-item input[type="checkbox"]:checked {
    background-color: var(--quartenary-color1); 
    border: 6px solid var(--primary-color1); 
}

/* ##########dropdown item input styling ended here  ######### */


  /* ############# Dropdown menu links styling ended here ############## */


/*######## Dropdown styling started here #########*/


/*########### navbar stylying ended from here ###########*/

